/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif; */
$main-color: #636060;
$back-color: #EDF2EC;
$black-color: #000;
$orange-color: #E06733;
$green-color: #499A18;


body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $main-color;
  font-size: 20px;
}

a, ul {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1222px;
  margin: 0 auto;
  padding: 0 10px;
}

.header{
  background-color: $back-color;
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-family: 'Inika', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $black-color;
  }
}

.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 46px;
  }
  &__list-link {
    color: $black-color;
    font-family: 'Inika', serif;
    font-size: 16px;
    line-height: 19px;
    transition: all .3s;
    &:hover {
      color: $orange-color;
      font-weight: 700;
    }
  }
  &__list-link--active {
    color: $orange-color;
    font-weight: 700;
  }
}

.welcome {
  background-color: $back-color;
  font-family: 'Inter', sans-serif;
  padding: 62px 0 62px;
  &__inner {
    display: flex;
  }
  &__img {
    width: 448px;
    height: 407px;
  }
  &__content {
    max-width: 549px;
    margin-left: auto;
  }
  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 42px;
    span {
      color: $green-color;
    }
  }
  &__text {
    line-height: 35px;
    color: $main-color;
    margin-bottom: 48px;
  }
  &__btn {
    font-size: 16px;
    line-height: 20px;
    color: $black-color;
    padding: 14px 27px;
    border: 1px solid $orange-color;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background-color: $orange-color;
      color: #fff;
    }
  }
}

.about {
  margin: 90px 0;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 605px;
    margin-right: auto;
  }
  &__title {
    color: $green-color;
    width: 463px;
    margin-bottom: 40px;
    span {
      color: $orange-color;
    }
  }
  &__text {
    line-height: 35px;
  }
}

.title-h2 {
  font-family: 'Inika', serif;
  font-size: 40px;
  line-height: 52px;
}

.service {
  padding: 40px 0 114px;
  background-color: $back-color;
  &__top {
    display: flex;
    align-items: center;
  }
  &__top-title {
    width: 306px;
    color: $green-color;
    margin-right: 140px;
  }
  &__btn-item {
    font-family: 'Inika', serif;
    line-height: 26px;
    width: 160px;
    padding: 12px 0;
    border-radius: 5px;
    color: $orange-color;
    border: 1px solid $orange-color;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      background-color: $orange-color;
      color: #fff;
    }
  }
  &__btn-item + .service__btn-item {
    margin-left: 38px;
  } 
}

.service-grid {
  margin-top: 90px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
  &__item {
    width: 330px;
    height: 450px;
  }
  &__img {
    width: 330px;
    height: 350px;
    display: block;
  }
  &__item-box {
    border: 1px solid #E3E1D5;
    border-top: none;
    border-radius: 0 0 20px 20px;
    text-align: center;
  }
  &__sub-title {
    padding: 10px 0;
    font-weight: 700;
    line-height: 20px;
    color: $orange-color;
  }
  &__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 36px;
  }
}