/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif; */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #636060;
  font-size: 20px;
}

a, ul {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1222px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #EDF2EC;
  padding: 40px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-family: "Inika", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  margin-left: 46px;
}
.menu__list-link {
  color: #000;
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s;
}
.menu__list-link:hover {
  color: #E06733;
  font-weight: 700;
}
.menu__list-link--active {
  color: #E06733;
  font-weight: 700;
}

.welcome {
  background-color: #EDF2EC;
  font-family: "Inter", sans-serif;
  padding: 62px 0 62px;
}
.welcome__inner {
  display: flex;
}
.welcome__img {
  width: 448px;
  height: 407px;
}
.welcome__content {
  max-width: 549px;
  margin-left: auto;
}
.welcome__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 42px;
}
.welcome__title span {
  color: #499A18;
}
.welcome__text {
  line-height: 35px;
  color: #636060;
  margin-bottom: 48px;
}
.welcome__btn {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding: 14px 27px;
  border: 1px solid #E06733;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.welcome__btn:hover {
  background-color: #E06733;
  color: #fff;
}

.about {
  margin: 90px 0;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__content {
  max-width: 605px;
  margin-right: auto;
}
.about__title {
  color: #499A18;
  width: 463px;
  margin-bottom: 40px;
}
.about__title span {
  color: #E06733;
}
.about__text {
  line-height: 35px;
}

.title-h2 {
  font-family: "Inika", serif;
  font-size: 40px;
  line-height: 52px;
}

.service {
  padding: 40px 0 114px;
  background-color: #EDF2EC;
}
.service__top {
  display: flex;
  align-items: center;
}
.service__top-title {
  width: 306px;
  color: #499A18;
  margin-right: 140px;
}
.service__btn-item {
  font-family: "Inika", serif;
  line-height: 26px;
  width: 160px;
  padding: 12px 0;
  border-radius: 5px;
  color: #E06733;
  border: 1px solid #E06733;
  transition: all 0.3s;
  cursor: pointer;
}
.service__btn-item:hover {
  background-color: #E06733;
  color: #fff;
}
.service__btn-item + .service__btn-item {
  margin-left: 38px;
}

.service-grid {
  margin-top: 90px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
}
.service-grid__item {
  width: 330px;
  height: 450px;
}
.service-grid__img {
  width: 330px;
  height: 350px;
  display: block;
}
.service-grid__item-box {
  border: 1px solid #E3E1D5;
  border-top: none;
  border-radius: 0 0 20px 20px;
  text-align: center;
}
.service-grid__sub-title {
  padding: 10px 0;
  font-weight: 700;
  line-height: 20px;
  color: #E06733;
}
.service-grid__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 36px;
}/*# sourceMappingURL=style.css.map */